@{
    ViewData["Title"] = "Error";
}
<div class="bg-danger">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-white"> 
                <h1>Error 404</h1>
                <h2 class="description">Page not found :(</h2>
                <h4 class="description">Ooooups! Looks like we are unable to find that for you.</h4>

            </div>
        </div>
    </div>
</div>

